<!doctype html>
<html lang="en">
  <head>
  <% include myheader.html %>
    <title>Change Passwords</title>
  </head>
  <% if(currentUser) {%>
  <body class="text-center">
      <br><br>
    <form class="form-signin" method="POST" action="/app/changepassword">
      <h1 class="h3 mb-3 font-weight-normal text-dark">Change Password</h1>
      <div class="container col-md-4">
      <input type="password"  name="oldp" id="inputEmail" class="form-control" placeholder="Enter Old Password" required autofocus><br>
      <input type="password" name="newp1" id="inputPassword" class="form-control" placeholder="New Password" required><br>
      <input type="password" name="newp2" id="inputPassword" class="form-control" placeholder="Re-enter Password" required><br>
      <button class="btn btn-outline btn-primary btn-block" type="submit">Change Password</button>
    </div>

    </form>
  </body>
  <% } %>
</html>
