<title>Petroxy</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="description" content="<%= description %>">
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image" content="<%= metaImageUrl %>" />
<meta name="twitter:title" content=""/>
<meta name="twitter:description" content=""/>
<meta name="twitter:image:src" content=""/>
<meta name="keywords" content="">
<meta name="google-site-verification" content="" />
<link rel="canonical" href="<%= canonicalUrl %>" />

<!-- <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
<link rel="stylesheet" href="/static/styles/core/core.v1.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="/static/styles/nikhil.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="/static/scripts/lib/jquery-3.3.1.js"></script>
<script src="/static/scripts/lib/commonscript.js"></script>

<!-- plugins-jquery -->
<script src="/static/styles/js/plugins-jquery.js"></script>

<!-- plugin_path -->
<script>var plugin_path = '/static/styles/js/index.html';</script>

<!-- Style Customizer --> 
<script src="/static/styles/js/style-customizer.min.js"></script> 
