<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include myheader.html %>

</head>
<% if(currentUser) {%>
<body class="header-fixed header-fixed-space">
        
       <br>
      <h2 class="display-4 text-center text-dark" >Fuel Receipt</h2>
        <a href="/app/transport"><button class="btn btn-outline-danger float-right">TRANSPORT</button></a>

        <br><br><br>
        <div style="overflow-x:auto;">
        <table align="center" class="table table-hover" >
        <thead class="dark-primary-color text-light">
        <tr>
            <th>tt No.</th>
            <th>invoice_no.</th>
            <th>invoice_date</th>
            <th>invoice_amount</th>
            <th>Invoice_Quantity</th>
            <th>invoice_tempeature</th>
            <th>ro_temperature</th>
            <th>invoice_density</th>
            <th>ro_composite_density</th>
            <th>tva</th>
            <th>short_report</th>
            <th>freight_invoice_no</th>
            <th>freight_invoice_amount</th>
            <th>TRANSPORT name</th>

        </tr>
    </thead>
        <% for(i in fuelDetails) { %>
        <tr>
        <td><%= fuelDetails[i].tt %></td>
        <td><%= fuelDetails[i].invoice_no %></td>
        <td><%= fuelDetails[i].invoice_date.toString().substring(4,16) %></td>
        <td><%= fuelDetails[i].invoice_amount %></td>
        <td><%= fuelDetails[i].invoice_qty %></td>
        <td><%= fuelDetails[i].invoice_temp %></td>
        <td><%= fuelDetails[i].ro_temp %></td>
        <td><%= fuelDetails[i].invoice_density %></td>
        <td><%= fuelDetails[i].ro_composite_density %></td>
        <td><%= fuelDetails[i].tva %></td>
        <td><%= fuelDetails[i].short_report %></td>
        <td><%= fuelDetails[i].freight_invoice_no %></td>
        <td><%= fuelDetails[i].freight_invoice_amount %></td>
        <td><%= fuelDetails[i].name %></td>
        <% } %>
    </tr>
      </table>
    </div>



</body>
<% } %>
</html>
