<nav class="navbar fixed-top navbar-light bg-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><img src="/static/styles/petrollogo.png" height="25px" width="125px" alt="logo" class="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/app/home">Home  <span class="sr-only"></span></a>    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shift
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/app/ishift">Create Shift</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/app/ishift">View Shift</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/app/ishift">End Shift</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/income">Income Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/app/ifinance">Finance</a>
          </li>
                <li class="nav-item">
            <a class="nav-link" href="/app/icredit">Credit</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Product
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/app/iproduct">View Product</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/app/iproduct">Add Product</a>
            </div>
          </li>
                <li class="nav-item">
            <a class="nav-link" href="/app/received">Fuel Received</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employee
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">View Employee</a>
                        <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Add Employee</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/app/schedule">Schedule</a>
                        <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/app/tank">Tank</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/app/nozzle">Nozzle</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/app/collection">Collection Mode</a>
            </div>
          </li>
        </ul>
        </div>
    </nav>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user-circle"></i>
      </button>
     <div class="dropdown-menu dropdown-menu-right">
      <img class="card-img-top" src="/static/styles/avatar.jpg" alt="Card image cap">
      <div class="card-body">
          <h5 class="card-title">Naman Bhatnagar</h5>
    <div class="dropdown-divider"></div>
        <a href="#" class="card-link">Change Password</a>
          <div class="dropdown-divider"></div>
        <a href="#" class="card-link">Log Out</a>
      </div>
      </div>
        </div>
      </nav> 
      <br><br><br><br>