<!DOCtype html>
<html>
<head>
    <% include myheader.html %>
    <style>
        input[type=text]{
            width: 60%;
        }
    </style>
    <title>Bank Account</title>
</head>
<% if(currentUser) {%>
<body>


<div class="container">
    <br>
    <h2 align="center">Available Bank details</h2><br><br>
    <table align="center"  class="table table-hover text-center">
        <thead class="dark-primary-color text-light">
        <th>Bank</th>
        <th>Account_No</th>
        <% if(currentUser.type=='admin') {%>

        <th>Balance</th>
        <% } %>
        <th>active</th>
        <% if(currentUser.type=='admin') {%>
        <th>ACTION</th>
        <% }%>
        </thead>
        <% for(i in bankResult) { %>
        <tr>
            <td><%= bankResult[i].bank %></td>
            <td><%= bankResult[i].account_no %></td>
            <% if(currentUser.type=='admin') {%>
            <td><%= bankResult[i].balance%></td>
            <% } %>
            <% if(bankResult[i].active==1) {%>
            <td><font style="color: green;">active</font></td>
            <% } else { %>
            <td><font style="color: red;">INactive</font></td>
            <% } %>
            <% if(currentUser.type=='admin') {%>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" data-cap="<%= bankResult[i].id %>" class="idbtn btn btn-outline-dark" data-toggle="modal" data-target="#id1" ><i class="fas fa-pencil-alt"></i></button>
                    <button type="button" data-cap="<%= bankResult[i].id %>" class="idbtn1 btn btn-outline-dark" data-toggle="modal" data-target="#deletemodal" ><i class="fas fa-trash-alt"></i></button>



                </div>
            </td>
            <% }%>
        </tr>
        <% } %>
    </table>
    </p>
    <p align="right">

        <% if(currentUser.type=='admin') {%>
        <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#exampleModalCenter" >
            Add Bank Account
        </button>
        <% } %>
    </p>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="POST" action="/app/ibank" id="addtankform" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add Party</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- <div class="input-group mb-3">

                            <input type="text" id="tno" class="form-control" name="tno" placeholder="Tank No." aria-label="Tank No." aria-describedby="basic-addon1">
                                    </div> -->
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" name="bank" placeholder="bank" aria-label="bank" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">

                            <input type="number" class="form-control" name="account_no" placeholder="account_no" aria-label="account_no" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">

                            <input type="number" class="form-control" name="balance" placeholder="balance" aria-label="balance" aria-describedby="basic-addon1">
                        </div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="addtankbtn" name="act" value="1 1" class="btn btn-outline-primary">Add Bank Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="id1" tabindex="-1" role="dialog" aria-labelledby="id1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="POST" action="/app/ibank">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                        <input type="number" class="form-control" name="account_no" placeholder="account_no" aria-label="account_no" aria-describedby="basic-addon1">
                        </div>
                    <div class="input-group mb-3">

                        <input type="number" class="form-control" name="balance" placeholder="balance" aria-label="balance" aria-describedby="basic-addon1">
                    </div>

                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" value="1" name="active" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">active</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" value="0" name="active" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Inactive</label>
                        </div>



                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="editid" name="act" value=2 class="btn btn-outline-primary">Edit</button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal delete confirm box-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="/app/icredit">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Delete..?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="deletemodalbtn" name="act"  value="" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>

</div>
</div>




<script>
    $(document).ready(function(){


        $('.idbtn').click(function(evt){
            $('#editid').val('2 '+evt.target.getAttribute('data-cap'));
        });


        $('.idbtn1').click(function(evt){
            console.log('3 '+evt.target.getAttribute('data-cap'));
            $('#deletemodalbtn').val('3 '+evt.target.getAttribute('data-cap'));
        });
    });







</script>
</div>

</body>
<% } %>
</html>