<!DOCtype html>
<html>
<head>
        <% include myheader.html %>
        <title>Collection</title>
</head>
<% if(currentUser) {%>
<body>
        
<div class="container" style="max-width:50%;">
      
            <h2 class="display-4 text-dark"  align="center">Available collection mode</h2>
            <br>
                <table align="center" class="table table-hover text-center">
                    <thead class="dark-primary-color text-light">
                    <th>mode</th>
                    <% if(currentUser.type=='admin') {%>
                    <th>Action</th>
                    <% } %>
                </thead>
                    
                    <% for(i in collectiontype) { %>
                        <tr>
                            <td><%= collectiontype[i].mode %></td>
                            <% if(currentUser.type=='admin') {%>
                            <td>
                                    <div class="btn-group btn-group-sm" role="group">
                                <button type="button" data-cap="<%= '3 1 '+collectiontype[i].id %>" class="delbtn btn btn-outline-dark" data-toggle="modal" data-target="#deletemodal" ><i class="fas fa-trash-alt"></i></button>
                                        </div>
                                        
                            </td>
                           <% } %>
                        </tr>
                    <% } %>
                
                </table>
          



        <% if(currentUser.type=='admin') {%>
            <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#id1" >
                    Add mode
                  </button>
                  <% } %>

            <!-- <button class="btn primaryButton">mode</button> -->
          </div>

       <!-- Modal -->
       <div class="modal fade" id="id1" tabindex="-1" role="dialog" aria-labelledby="id1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form method="POST" action="/app/icollectionmode">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Add mode</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <div class="input-group mb-3">
                <input type="text" class="form-control" name="mode" placeholder="mode" aria-label="mode" aria-describedby="basic-addon1">
                </div> 
                </div>
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="editid" name="act" value="1 1"  class="btn btn-outline-primary">Add</button>
                </div>
              </form>
              </div>
            </div>
          </div>


        <!-- Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Delete This mode?
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
          <form action="/app/icollectionmode" method="POST">
            <button type="submit" id="gandabtn" name="act" value="" class="btn btn-outline-dark">Delete</button>
        </form>
        </div>
      </div>
    </div>
  </div>         
      

  <style>
      input[type=text]{
          width: 60%;
      }

      </style>
                  <script>
                      $(document).ready(function(){
                          console.log('script chali');
                          $('.delbtn').click(function(e){
                          console.log(e.target.getAttribute('data-cap'));
                          $('#gandabtn').val(e.target.getAttribute('data-cap'));
                          });
                      });
                  </script> 
</body>
<% } %>
</html>