<!DOCtype html>
<html lang="en">
<head>
  <title>Employee</title>

  <% include myheader.html %>
  <style>
  input[type=radio]{
      float: center;
  }
  </style>
</head>
<% if(currentUser){ %>
<body>

    
    
  
  
<br>
<br>
       

  
<div class="container">
    
    <table class="table table-hover">
      <thead class="dark-primary-color text-light">
        <tr>
            <th>Profile pic</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <% if(currentUser.type=='admin') {%>
            <th>address</th>
            <% } %>
            <th>phone</th>
            <th>E-mail</th>
            <% if(currentUser.type=='admin') {%>
            <th>adhaar</th>
            <% } %>
            <th>active</th>
            <% if(currentUser.type=='admin') {%>
            <th>Action</th>
            <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (i in employeeResult) {%>
          <tr>
            <td>
                <img src="<%= '/static/uploads/'+employeeResult[i].pic %>" width="30" height="30">
            </td>
            <td><%= employeeResult[i].fname %></td>
            <td><%= employeeResult[i].lname %></td>
            <td><%= employeeResult[i].type %></td>
            <% if(currentUser.type=='admin') {%>
            <td><%= employeeResult[i].address %></td>
            <% } %>
            <td><%= employeeResult[i].phone %></td>
            <td><%= employeeResult[i].email %></td>
            <% if(currentUser.type=='admin') {%>
            <td><%= employeeResult[i].adhaar %></td>
            <% } %>
            <% if(employeeResult[i].active==1) {%>
              <td><font style="color: green;">Active</font></td>
            <% } else { %>
              <td><font style="color: red;">Inactive</font></td>
            <% } %>
            <% if(currentUser.type=='admin') {%>
            <td>
              <div class="btn-group btn-group-sm" role="group">
                <button type="button" data-cap="<%= employeeResult[i].id %>" class="activeidbtn btn btn-outline-dark" data-toggle="modal" data-target="#activeid1" >&nbsp;<i class="fas fa-pencil-alt"></i></button>
               
                 
                    <button type="button" data-cap="<%= employeeResult[i].id %>" class="activeidbtn1 btn btn-outline-dark" data-toggle="modal" data-target="#deletemodal"><i class="fas fa-trash-alt"></i></button>
                   
                
              </form>
                </div>
              </td>
              <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  
  <% if(currentUser.type=='admin') {%>
  <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#exampleModalCenter">
        Add Employee
      </button>
      <% } %>

      </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form method="POST" action="/app/iemployee" enctype="multipart/form-data" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Add Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <div class="input-group mb-3">
                 
                    <input type="text" id="tno" class="form-control" name="tno" placeholder="Tank No." aria-label="Tank No." aria-describedby="basic-addon1">
                            </div> -->
              <div class="input-group mb-3">
                 
        <input type="text" class="form-control" name="fname" placeholder="fname" aria-label="fname" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                 
                        <input type="text" class="form-control" name="lname" placeholder="lname" aria-label="lname" aria-describedby="basic-addon1">
                                </div>
                        <select name="type" class="form-control">
                            <option value="admin">admin</option>
                            <option value="SUPERVISOR">SUPERVISOR</option>
                            <option value="DSM">DSM</option>
                        </select>
                             <div class="input-group mb-3">
                 
                                <input type="text" class="form-control" name="address" placeholder="address" aria-label="address" aria-describedby="basic-addon1">
                                      </div>
                                    <div class="input-group mb-3">
                 
                                <input type="text" class="form-control" name="phone" placeholder="phone" aria-label="phone" aria-describedby="basic-addon1">
                                           </div>
                                   <div class="input-group mb-3">
                                     <input type="text" class="form-control" name="email" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
                                         </div>
                                       <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="adhaar" placeholder="adhaar" aria-label="adhaar" aria-describedby="basic-addon1">
                                            </div>
                                         <div class="input-group mb-3">
                                         
                                                 <input type="password" class="form-control" name="psw" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                                                       </div>
                                                        <div class="input-group mb-3">
                                         
                                                                     <input type="file" class="form-control" name="pic" >
                                                                                                                                </div>
            </div>
             
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
              <button type="submit" id="addtankbtn" name="act" value="1 1" class="btn btn-outline-primary">Add Employee</button>
            </div>
          </form>
          </div>
        </div>
      </div>
       <!-- Modal -->
       <div class="modal fade" id="activeid1" tabindex="-1" role="dialog" aria-labelledby="activeid1" aria-hden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form method="POST" action="/app/iemployee" enctype="multipart/form-data" >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <div class="input-group mb-3">
                 
                                <input type="text" class="form-control" name="fname" placeholder="fname" aria-label="fname" aria-describedby="basic-addon1">
                                        </div>
                        
                                        <div class="input-group mb-3">
                                         
                                                <input type="text" class="form-control" name="lname" placeholder="lname" aria-label="lname" aria-describedby="basic-addon1">
                                                        </div>
                                                <select name="type" class="form-control">
                                                  <option value="admin">admin</option>
                                                  <option value="SUPERVISOR">SUPERVISOR</option>
                                                  <option value="DSM">DSM</option>
                                                </select>
                                                                        <div class="input-group mb-3">
                                         
                                                                                <input type="text" class="form-control" name="address" placeholder="address" aria-label="address" aria-describedby="basic-addon1">
                                                                                        </div>
                                                                                        <div class="input-group mb-3">
                                         
                                                                                                <input type="text" class="form-control" name="phone" placeholder="phone" aria-label="phone" aria-describedby="basic-addon1">
                                                                                                        </div>
                                                                                                        <div class="input-group mb-3">
                                         
                                                                                                                <input type="text" class="form-control" name="email" placeholder="email" aria-label="email" aria-describedby="basic-addon1">
                                                                                                                        </div>
                                                                                                                        <div class="input-group mb-3">
                                         
                                                                                                                                <input type="text" class="form-control" name="adhaar" placeholder="adhaar" aria-label="adhaar" aria-describedby="basic-addon1">
                                                                                                                                        </div>
  
                                                                                                                                        <div class="input-group mb-3">
                                         
                                                                                                                                                <input type="password" class="form-control" name="psw" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                                                                                                                                        </div>

                                                                                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                                                                                          <input type="radio" id="customRadioInline1" value="1" name="active" class="custom-control-input">
                                                                                                                                                          <label class="custom-control-label" for="customRadioInline1">active</label>
                                                                                                                                                        </div>
                                                                                                                                                        <div class="custom-control custom-radio custom-control-inline">
                                                                                                                                                          <input type="radio" id="customRadioInline2" value="0" name="active" class="custom-control-input">
                                                                                                                                                          <label class="custom-control-label" for="customRadioInline2">Inactive</label>
                                                                                                                                                        </div>
                                                                                                                   
                                                                                                                                        <div class="input-group mb-3">
                                         
                                                                                                                                                <input type="file" class="form-control" name="pic">
                                                                                                                                                        </div>
                 
                    
                </div>
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="editactiveid" name="act" value="2" class="btn btn-outline-primary">Edit</button>
                </div>
              </form>
              </div>
            </div>
          </div>
</div>



<!-- Modal delete confirm box-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="POST" action="/app/iemployee">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Delete..?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="deletemodalbtn" name="act"  value="" class="btn btn-primary">Delete</button>
      </div>
        </form>
    </div>
    </div>
 
  </div>

  
  
<script>
$(document).ready(function(){


$('.activeidbtn').click(function(evt){
      $('#editactiveid').val('2 '+evt.target.getAttribute('data-cap'));
});
$('.activeidbtn1').click(function(evt){
      $('#deletemodalbtn').val('3 0'+evt.target.getAttribute('data-cap'));
});


});


</script>
</body>
<% } %>
</html>
