<!DOCtype html>
<html lang="en">
<head>
  <title>Tank</title>

  <% include myheader.html %>

</head>
<% if(currentUser){ %>
<body>
    <form method="get" action="itank">
<div class="container">
  <h2 class="display-4 text-dark" align="center" >Nozzle</h2>
 
  <div class="container" style="display: none;" > 
      
        <div class="dropdown">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"  style="float:right;">
            Tank type
          </button>
          <div class="dropdown-menu">
           
                <option class="dropdown-item">All</option>
                <option class="dropdown-item">Disel</option>
                <option class="dropdown-item">Petrol</option>
                

           
         
          </div>
        </div>
      </div>
    </form>
    
    
  
  
<br>
<br>
       

  
<div class="container">
    
    <table class="table table-hover">
      <thead class="dark-primary-color text-light">
        <tr>
          <th class="col-md-3" >Nozzle No.</th>
          <th class="col-md-3" >type</th>
          <th class="col-md-3" >Status</th>
          <% if(currentUser.type=='admin') {%>
          <th class="col-md-3" >Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (i in nozzleDetails) {%>
          <tr>
              <td><%= nozzleDetails[i].nozzle_number %></td>
            <td><%= nozzleDetails[i].type %></td>
            <% if(nozzleDetails[i].active==1) {%>
              <td><font style="color: green;">active</font></td>
            <% } else { %>
              <td><font style="color: red;">Inactive</font></td>
            <% } %>
            <% if(currentUser.type=='admin') {%>
              <td>
                
                <div class="btn-group btn-group-sm" role="group">
                  <button type="button" data-cap="<%= nozzleDetails[i].id %>" class="idbtn btn btn-outline-dark" data-toggle="modal" data-target="#editmodal" title="Edit">&nbsp;<i class="fas fa-pencil-alt"></i></button>
                  <button type="button" data-cap="<%= '3 0 '+nozzleDetails[i].id %>" class="delbtn btn btn-outline-dark" data-toggle="modal" data-target="#deletemodal" title="Delete"><i class="fas fa-trash-alt"></i></button>
              </div>
            </td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>


    <% if(currentUser.type=='admin') {%>
  <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#exampleModalCenter">
        Add Nozzle
      </button>
      <% } %>


      
</div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form method="POST" action="/app/inozzle" id="addtankform" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Add Nozzle</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <div class="input-group mb-3">
                 
                    <input type="text" id="tno" class="form-control" name="tno" placeholder="Tank No." aria-label="Tank No." aria-describedby="basic-addon1">
                            </div> -->
                <div class="input-group mb-3">
                 
                        <input type="text" class="form-control" name="nno" placeholder="Nozzle Number" aria-label="Nozzle Number" aria-describedby="basic-addon1">
                                </div> 
                                
                <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" value="MS" name="ntype" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Petrol</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" value="HSD" name="ntype" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Diesel</label>
      </div>
                
            </div>
             
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
              <button type="submit" id="addtankbtn" name="act" value="1 1" class="btn btn-outline-primary">Add Nozzle</button>
            </div>
          </form>
          </div>
        </div>
      </div>


<!-- Modal edit -->

<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="editmodalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form action="/app/inozzle" method="POST" id="deleteform">
      <div class="modal-header">
        <h5 class="modal-title" id="editmodalTitle">Edit Nozzle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" value="1" name="active" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">active</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" value="0" name="active" class="custom-control-input">
  <label class="custom-control-label"  for="customRadio2">Inactive</label>
</div>
          
      </div>
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
       
        <button type="submit" name="act" id="editbtn" class="btn primaryButton">Edit Nozzle</button>
      </form>
      </div>
    </div>
  </div>
</div>






<!-- Modal delete confirm box-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure ..?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="/app/inozzle" method="POST" id="deleteform">
        <button type="submit" name="act" id="deletebtn" class="btn primaryButton">Delete</button>
      </form>
      </div>
    </div>
  </div>
</div>



</div>
  
  
<script>
$(document).ready(function(){


$('.idbtn').click(function(evt){
  $('#editbtn').val('2 '+evt.target.getAttribute('data-cap'));
});

$('.delbtn').click(function(e){
$('#deletebtn').val(e.target.getAttribute('data-cap'));
});
});

</script>
</body>
<% } %>
</html>
