<!DOCtype html>
<html lang="en">
<head>
    <% include myheader.html %>
  <title>Product</title>

</head>
<% if(currentUser) {%>

<body>

    <h1 style="text-align:center;">Products</h1>
    <br>

    <div class="container" >
         
            <!-- <div class="inner-addon left-addon" >
                   
                    <i class="fas fa-search"></i><input type="text" class="form-control"> 
                </div> -->
                <div class="input-group" style="width:30%; float:right;">

                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Product name">
                                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-search"></i></div>    
                    </div>
                </div>
                       
                    </div>

        <br>
        <br>
        <br>

        <br>

        
         <div class="container">
                
                <table class="table table-hover" id="myTable">
                  <thead class="dark-primary-color text-light">
                    
                      <th>name</th>
                      <th>price</th>
                      <th>Quantity</th>
                      <th>active</th>
                      <% if(currentUser.type=='admin') {%>
                      <th>Action</th>
                        <% }%>
                  </thead>
                  <tbody>
                    <% for(i in productDetails) {%>
                        <tr>
                                <td><%= productDetails[i].name %></td>
                                <td><%= productDetails[i].price %></td>
                                <td><%= productDetails[i].qty %></td>
                                <% if(productDetails[i].active==1) {%>
                                  <td><font style="color: green;">active</font></td>
                                <% } else { %>
                                  <td><font style="color: red;">INactive</font></td>
                                <% } %>
                                <% if(currentUser.type=='admin') {%>
                                <td>
                                  <div class="btn-group btn-group-sm" role="group">
                                  <button type="button" data-cap="<%= productDetails[i].id %>" class="idbtn btn btn-outline-dark" data-toggle="modal" data-target="#id1" >&nbsp;<i class="fas fa-pencil-alt"></i></button>
                                      <button type="button" data-target="#deletemodal" data-toggle="modal" data-cap="<%= '3 0 '+productDetails[i].id %>" class="delbtn btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
                                  </div>
                                </td>
                                <% } %>
                              </tr>
                    <% } %>
                  </tbody>
                </table>
               
              </div>




              <div class="container mt-3">
                    
                  <% if(currentUser.type=='admin') {%>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal"  style="float:right;" data-target="#myModal">
                      +Add Product
                    </button>
                  <% } %>

                    <!-- The Modal -->
                    <div class="modal fade" id="myModal">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <form action="/app/iproduct" method="POST">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title" style="text-align:center;">Add product</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                          </div>
                          
                          <!-- Modal body -->
                          <div class="modal-body">
                        

                            <div class="form-group">
                                    <label for="usr" style="font-size:150%;">Product name</label>
                                    <input type="text" name="name" class="form-control" id="usr">
                                  </div>
                                      <label for="usr" style="font-size:150%;">price</label>
                                      <input type="text" name="price" class="form-control" id="usr">
                                      <label for="usr" style="font-size:150%;"> Quantity</label>
                                      <input type="text" name="qty" class="form-control" id="usr">
                                      <br>
                          </div>
                          <!-- Modal footer -->
                          <div class="modal-footer">
                            <button type="submit" name="act" value="1 1" class="btn btn-outline-primary" style="float:center;">Add</button>
                            &nbsp;
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                    

                           <!-- Modal -->
       <div class="modal fade" id="id1" tabindex="-1" role="dialog" aria-labelledby="id1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form method="POST" action="/app/iproduct">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                     
                        <input type="text" class="form-control" id="edittno" name="name" placeholder="name" aria-label="name" aria-describedby="basic-addon1">
                                </div> 
                    <div class="input-group mb-3">
                     
                            <input type="text" class="form-control" name="price" placeholder="price" aria-label="price" aria-describedby="basic-addon1">
                                    </div> 
                                    
                                    <div class="input-group mb-3">
                     
                                            <input type="text" class="form-control" name="qty" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                                                    </div> 

                                                    <div class="custom-control custom-radio">
                                                      <input type="radio" id="customRadio1" value="1" name="active" class="custom-control-input">
                                                      <label class="custom-control-label" for="customRadio1">active</label>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                      <input type="radio" id="customRadio2" value="0" name="active" class="custom-control-input">
                                                      <label class="custom-control-label"  for="customRadio2">Inactive</label>
                                                    </div>


                 
                    
                </div>
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="editid" name="act" class="btn btn-outline-primary">Edit</button>
                </div>
              </form>
              </div>
            </div>
          </div>




                    <!-- Modal delete confirm box-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are You Sure ..?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="/app/iproduct" method="POST" id="deleteform">
        <button type="submit" name="act" id="deletebtn" class="btn primaryButton">Delete</button>
      </form>
      </div>
    </div>
  </div>
</div>






</div>
            
<script>
    $(document).ready(function(){
     $('.idbtn').click(function(evt){
  $('#editid').val('2 '+evt.target.getAttribute('data-cap'));
});
$('.delbtn').click(function(e){
  console.log(e.target.getAttribute('data-cap'));
  $('#deletebtn').val(e.target.getAttribute('data-cap'));
});

  $("#inlineFormInputGroupUsername").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });


});
</script>
</body>
<% } %>
</html>