<!DOCtype html>
<html lang="en">
<head>
  <title>Schedule</title>

  <% include myheader.html %>
</head>
<% if(currentUser){ %>
<body>
    
    <br>
       

  
<div class="container">
    <h1 class="display-4 text-center text-dark">Schedule</h1><br>
    <table class="table table-hover">
      <thead class="dark-primary-color text-light">
        <tr>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Shift type</th>
          <th>SuperVisor</th>
          <th>active</th>
          <% if(currentUser.type=='admin') {%>
          <th>Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for (i in ScheduleResult) {%>
          <tr>
            <td><%= ScheduleResult[i].starttime.toString().substring(10,24) %></td>
            <td><%= ScheduleResult[i].endtime.toString().substring(10,24) %></td>
            <td><%= ScheduleResult[i].shift_type %></td>
            <td><%= ScheduleResult[i].fname%></td>
            <td>
              <% if(ScheduleResult[i].active==1) {%>
                <font style="color: green;">active</font>
                <% } else { %>
                <font style="color: red;">INactive</font>
              <% } %>
            </td>
            <% if(currentUser.type=='admin') {%>
            <td>
                <div class="btn-group btn-group-sm" role="group">
                <button type="button" data-cap="<%= ScheduleResult[i].id %>" class="idbtn btn btn-outline-dark" data-toggle="modal" data-target="#id1" >&nbsp;<i class="fas fa-pencil-alt"></i></button>
                    <button type="submit" data-target="#deletemodal" data-toggle="modal" data-cap="<%= '3 0 '+ScheduleResult[i].id %>" class="deletebtn btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
              <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
 

  <% if(currentUser.type=='admin') {%>
  <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#exampleModalCenter">
        Add Schedule
      </button>
      <% } %>
    </div>
      
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <form method="POST" action="/app/ischedule" id="addtankform" >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Add Schedule</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- <div class="input-group mb-3">
                 
                    <input type="text" id="tno" class="form-control" name="tno" placeholder="Tank No." aria-label="Tank No." aria-describedby="basic-addon1">
                            </div> -->
              <div class="input-group mb-3">
                 
        <input type="text" class="form-control" name="starttime" placeholder="Start Time(HH:MM:SS)" aria-label="Start Time(HH:MM:SS)" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                 
                        <input type="text" class="form-control" name="endtime" placeholder="End Time(HH:MM:SS)" aria-label="End Time(HH:MM:SS)" aria-describedby="basic-addon1">
                                </div> 
                                
                                <div class="input-group mb-3">
                 
                                    <input type="text" class="form-control" name="shifttype" placeholder="Shift type" aria-label="Shift type" aria-describedby="basic-addon1">
                                            </div>           
                <div class="custom-control custom-radio custom-control-inline">
                    <select name="sid" class="form-control">
                        <% for(i in availableSupervisorResult){  %>
                            <option value="<%= availableSupervisorResult[i].id %>"><%= availableSupervisorResult[i].fname %></option>
                        <%  } %>
                    </select>
      </div>

                
            </div>
             
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
              <button type="submit" id="addtankbtn" name="act" value="1 1" class="btn btn-outline-primary">Add Schedule</button>
            </div>
          </form>
          </div>
        </div>
      </div>
       <!-- Modal -->
       <div class="modal fade" id="id1" tabindex="-1" role="dialog" aria-labelledby="id1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form method="POST" action="/app/ischedule">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                 
                        <input type="text" class="form-control" name="starttime" placeholder="Start Time(HH:MM:SS)" aria-label="Start Time(HH:MM:SS)" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                 
                                        <input type="text" class="form-control" name="endtime" placeholder="End Time(HH:MM:SS)" aria-label="End Time(HH:MM:SS)" aria-describedby="basic-addon1">
                                                </div> 
                                                
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio1" value="1" name="active" class="custom-control-input">
                                                    <label class="custom-control-label" for="customRadio1">active</label>
                                                  </div>
                                                  <div class="custom-control custom-radio">
                                                    <input type="radio" id="customRadio2" value="0" name="active" class="custom-control-input">
                                                    <label class="custom-control-label"  for="customRadio2">Inactive</label>
                                                  </div>

                                <div class="custom-control custom-radio custom-control-inline">
                                    <select name="sid" class="form-control">
                                        <% for(i in availableSupervisorResult){ %>
                                            <option value="<%= availableSupervisorResult[i].id %>"><%= availableSupervisorResult[i].fname %></option>
                                        <%  } %>
                                    </select>
                      </div>
                 
                    
                </div>
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="editid" name="act" class="btn btn-outline-primary">Edit</button>
                </div>
              </form>
              </div>
            </div>
          </div>




                    <!-- Modal delete confirm box-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are You Sure ..?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="/app/ischedule" method="POST" id="deleteform">
          <button type="submit" name="act" id="deletebtn" class="btn primaryButton">Delete</button>
        </form>
        </div>
      </div>
    </div>
  </div>


</div>
  
  
<script>
$(document).ready(function(){


$('.idbtn').click(function(evt){
  $('#editid').val('2 '+evt.target.getAttribute('data-cap'));
});
$('.deletebtn').click(function(e){
  console.log(e.target.getAttribute('data-cap'));
  $('#deletebtn').val(e.target.getAttribute('data-cap'));
});
});

</script>
</body>
<% } %>
</html>
