<!DOCtype html>
<html>
    <head>
        <% include myheader.html %>
<style>
  td,th{
    text-align: center;
  }
  #addfuel
  {
    width: 10%;
  }
  #confirmmodal
  {
    width: 25%;
  }
</style>
<title>Shift</title>

    </head>
    <% if(currentUser) {%>
    <body>
        
            <div  class="container">
              <h1 class="text-center" >End Shift</h1>
              <% if(endShiftResult.length==0) { %>
                <h2 align="center" >No More Shifts To End</h2>
                  <% } else { %>
                    <form action="ishift" method="post" id="endshiftform" >
                      <h2 class="text-center">DU Closing Readings</h2>
                        <table align="center"  class="table table-hover table-light" >
                            <thead class="dark-primary-color text-light">
                            <th>Nozzle</th>
                            <th>DSM</th>
                            <th>An. Op. Reading</th>
                            <th>An. Cl. Reading</th>
                            <th>Dig. Op. Reading</th>
                            <th>Dig. Cl. Reading</th>
                            <th>Pump Test</th>
                            <th>Self</th>
                            </thead>
                        <% for(i in endShiftResult) { %>
                          <tr>
                          <td class="col-md-1 border border-secondary" ><%= parseInt(i)+1 %></td>
                          <td class="col-md-1 border border-secondary" ><%= endShiftResult[i].fname+' '+endShiftResult[i].lname %></td>
                          <td class="col-md-1 border border-secondary" ><%= endShiftResult[i].aor %></td>
                          <td class="col-md-1 border border-secondary" ><input type="text"  class="form-control" name="<%= 'acr'+i %>"></td>
                          <td class="col-md-1 border border-secondary" ><%= endShiftResult[i].dor %></td>
                          <td class="col-md-1 border border-secondary" ><input type="text"  class="form-control" name="<%= 'dcr'+i %>"></td>
                          <td class="col-md-1 border border-secondary" ><input type="text"  class="form-control" value="0" name="<%= 'pt'+i %>"></td>
                          <td class="col-md-1 border border-secondary" ><input type="text"  class="form-control" value="0" name="<%= 'self'+i %>"></td>
                        </tr>
                        <% } %>
                          
                      </table>
                      <br><br><br>
                      <h2 class="text-center">Tank Closing Height/Dip</h2>
              <table  align="center" class="table table-hover table-light" >
                  <thead class="dark-primary-color text-light">
                <tr>
                  <th>type</th>
                  <th>OPENING READING</th>
                  <th>CLOSING READING</th>
                </tr>
                </thead>

                <% for(i in tanksResult) {%>
                  <tr>
                  <td class="col-md-1 border border-secondary" >
                    <%= tanksResult[i].type %>
                  </td>
                  <td class="col-md-1 border border-secondary" >
                      <%= tanksResult[i].qty %>
                  </td>
                  <td class="col-md-1 border border-secondary" >
                    <input type="text"  class="form-control" name="<%= 'cr'+i %>">
                  </td>
                </tr>
                <% } %>
                  
              </table>
              
              <div>
                <br>
                <br>
                <h2 class="text-center">Collection From DSM(s)</h2>
                <table  class="table table-hover table-light" id="submissionTable">
                    <thead class="dark-primary-color text-light">
                      <th>DSM(s)</th>
                      <th>mode</th>
                      <th colspan="2">Add Submission  </th>

              
                      </thead>
                   <tr>
                    <td>
                      <select id="dsmUsers" class="form-control">
                          <% for(i in dsmUsers) {%>
                            <option data-cap="<%= dsmUsers[i].id %>" value="<%= dsmUsers[i].fname %>"><%= dsmUsers[i].fname %></option>
                            <% } %>
                      </select>
                    </td>
                    <td>
                        <select id="paymentModes" class="form-control">
                            <% for(i in paymentModes) {%>
                              <option data-cap="<%= paymentModes[i].id %>" value="<%= paymentModes[i].mode %>"><%= paymentModes[i].mode %></option>
                              <% } %>
                        </select>
                    </td>
                    <td colspan="2">
                      <input type="button" id="createSubmission" class="form-control btn btn-outline-success" value="Add Field">
                    </td>
                  </tr> 
                  
                </table>
                <br>
              </div>
              <h2 class="text-center">Fuel Recieved</h2>
              <div class="fuelCame">

                </div>
                <br>
                
                <table class="table table-hover">
                  <thead class="dark-primary-color text-light">
                    <th>FUEL RECEIPT(s) <input type="button"  id="addfuel" name="fuellength" value="+ Add" class="form-control btn btn-light float-right" ></th>
                  </thead>
                </table>
                <br><br>
                <h2 class="text-center">Non-Fuel Item Sale</h2>
                    <table  class="table table-hover table-light" id="nonfueltable">
                        <thead class="dark-primary-color text-light">
                      <th>DSM</th>
                      <th>Item</th>
                      <th>Quantity</th>
                      <th>Amount</th>
                      <th><input type="button" id="addnonfuel" class="form-control btn btn-light float-right" value="&plus;" ></th>
                      </thead>

                    </table>
                    <br><br><br>
              <p align="center" >
                  <button type="button" data-toggle="modal" class="btn btn-outline-dark"  id="confirmmodal" data-target="#myModal1">Click To Change price</button>
                <br><br>
                <input type="hidden" name="act" id="hiddenVal">
                  <button  id="act" style="width: 25%;" type="button" class="form-control btn-outline-dark"  value="<%= '2 '+endShiftResult.length+' '+endShiftResult[0].shift_id+' '+paymentModes.length %>"  >End Shift</button>
                </p>

              
            
            </div> 

            <div class="container">
                <!-- Modal  manual waala -->
  <div class="modal fade" id="myModal1" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Current Fuel prices...</h4>
            <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
                  <div class="table-responsive">
                          <table class="table" id="confirmtable">
                            <tr>
                                <th>Product</th>
                                <th class="price">price</th>
                            </tr>
                          </table>
                        </div> 
          </div>
          <div class="modal-footer" id="updateprice" >
            <button type="button" class="btn btn-success" data-dismiss="modal" id="confirmbtn">Confirm</button>
            <button type="button" class="btn btn-warning" id="changeprice">Change</button>
            
          </div>
        </div>
        
      </div>
    </div>



    <!-- modal automatic waala-->
                    <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Are You Sure you want to End Shift  with fuel prices...</h4>
          <button type="button" class="close float-right" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
                <div class="table-responsive">
                        <table class="table" id="endtable">
                          <tr>
                              <th>Product</th>
                              <th class="price">price</th>
                          </tr>
                        </table>
                      </div> 
        </div>
        <div class="modal-footer" id="updateprice" >
          <button type="submit" class="btn btn-success" data-dismiss="modal" id="confirmbtn2">Confirm</button>
          <button type="button" class="btn btn-warning" id="changeprice2" data-toggle="modal" data-target="#myModal2">Cancel</button>
          
        </div>
      </div>
      
    </div>
  </div>
            </div>
          </form>

            <% } %>

                      
            
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
              <script src="/static/scripts/lib/shiftScript.js"></script>
              <script>
                  $(document).ready(function(){

                    $('#confirmbtn2').click(function(){
                      $('#endshiftform').submit();
                    });
                    $('#act').click(function(){
                      
                      $('#endtable').children().remove();
                      $.post('/api/getfuelprice',{},function(data,status){
                          l=data.length;
                          for(i in data){
                              var row=$('<tr />',{});
                              var col1=$('<td />',{id:'t'+i});
                              var col2=$('<td />',{});
                              col1.html(data[i].type);
                              var tp=$('<input />',{type:'text',value:data[i].price,class:'form-control',id:'inp'+i});
                              col2.append(tp);
                              tp.prop('disabled',true);
                              row.append(col1);row.append(col2);
                              $('#endtable').append(row);
                          }
                      });
                    });

                      var l=0;
                       $('#confirmmodal').click(function(){
                           $('#confirmtable').children().remove();
                      $.post('/api/getfuelprice',{},function(data,status){
                          l=data.length;
                          for(i in data){
                              var row=$('<tr />',{});
                              var col1=$('<td />',{id:'t'+i});
                              var col2=$('<td />',{});
                              col1.html(data[i].type);
                              var tp=$('<input />',{type:'text',value:data[i].price,class:'form-control',id:'inp'+i});
                              col2.append(tp);
                              tp.prop('disabled',true);
                              row.append(col1);row.append(col2);
                              $('#confirmtable').append(row);
                          }
                      });
                     
                      $('#myModal').modal();
                  });
                      $('#changeprice').click(function(){
                          $(this).hide();
                          for(var i=0;i<l;++i) $('#inp'+i).prop('disabled',false);
                          
                          $('#confirmbtn').html('Update');
                      $('#confirmbtn').click(function(){
                          $('#changeprice').hide();
                          var arr=[];
                      for(var i=0;i<l;++i){
                          arr.push({id:$('#t'+i).html(),price:$('#inp'+i).val()});
                      }
                      $.post('/api/setfuelprices',{price:arr},function(data,status){
                          $('#setfuelprices').hide();
                          alert(data.msg);
                      });
                      });
                      });
                      $('#confirmmodal').click(function(){
                          $('#confirmbtn').html('Confirm');
                          $('#confirmbtn').off();
                          $('#confirmbtn').click(function(){
                              $('#myModal').modal();
                          });
                          $('#changeprice').show();
                      });
                  });
              </script>
    </body>
    <% }  %>  
</html>
