<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
  input[type=radio]{
      float: center;
  }
  </style>
</head>
<script>
    $(document).ready(function(){
        
    })
</script>
<body>
<% if(currentUser){%>
    <form method="get" action="itank">
<div class="container">
  <h2>Tank</h2>
 
  <div class="container">
      
        <div class="dropdown">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"  style="float:right;">
            Tank Type
          </button>
          <div class="dropdown-menu">
           
                <option class="dropdown-item">All</option>
                <option class="dropdown-item">Disel</option>
                <option class="dropdown-item">Petrol</option>
                

           
         
          </div>
        </div>
      </div>
    </form>
    
    
  
  
<br>
<br>
       

  
<div class="container">
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Type</th>
          <th>Capacity</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>
          <div class="btn-group">
          <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#id1">&nbsp;<i class="fas fa-pencil-alt"></i></button>
          <button type="button" class="btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
          </div>
        </td>
        </tr>
        <tr>
          <td>Mary</td>
          <td>Moe</td>
          <td>mary@example.com</td>
          <td>
                <div class="btn-group">
                <button type="button" class="btn btn-outline-dark">&nbsp;<i class="fas fa-pencil-alt"></i></button>
                <button type="button" class="btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>
                <div class="btn-group">
                <button type="button" class="btn btn-outline-dark">&nbsp;<i class="fas fa-pencil-alt"></i></button>
                <button type="button" class="btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
                </div>
              </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left: 1000px">
        Add Tank
      </button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Add Tank</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                 
        <input type="text" class="form-control" placeholder="Capacity" aria-label="Capacity" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                 
                        <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1">
                                </div> 
                                
                                <div class="input-group mb-3">
                 
                                        <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                                                </div> 
                <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Petrol</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Diesel</label>
      </div>
                
            </div>
             
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-outline-secondary">Add Tank</button>
            </div>
          </div>
        </div>
      </div>
       <!-- Modal -->
       <div class="modal fade" id="id1" tabindex="-1" role="dialog" aria-labelledby="id1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Edit</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                    <div class="input-group mb-3">
                     
                            <input type="text" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="basic-addon1">
                                    </div> 
                                    
                                    <div class="input-group mb-3">
                     
                                            <input type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                                                    </div> 
                 
                    
                </div>
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-info" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
</div>
  
  

</body>
</html>
