<!DOCtype html>
<head>

        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/css/myheader.css">

    <style>
    .dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF5252; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.primaryButton{
                    color: #303F9F;
                    border-width: 1px;
                    border-color: #303F9F;
                    background-color: white;
                }
                .primaryButton:hover{
                    color: white;
                    background-color: #303f9f;
                }
                #img
  {
     border-radius:50%;
  }

    </style>
        <style>
            @import url(https://fonts.googleapis.com/css?family=Oswald);
            
            
            
            svg{ position:absolute; }
            
            #container{
              width:300px; height:300px;
              position:absolute;
              left:50%; top:40%;
              transform:translate(-50% , -50%);
            }
            .dot{
              border-radius:50%;
              position:absolute;
              height:12px; width:12px;
              
            }
            
            #www{
              font-family:'Oswald',tahoma;
              font-size:80px;
              color:#fff;
              position:absolute;
              left:50%; bottom:-40px;
              transform:translate(-50% , 0%);
            }
            
            
            #www::before{
              content:'';
              width:160px; height:12px;
              border-radius:50%;
              position:absolute;
              left:50%; top:89px;
              transform:translate(-50% , 0%);
              background-color:#333;
              z-index:-1;
            }
            
            
            
            #DiacoDesignLink,#pens{
              color: #fff;
            }
            @media only screen and (max-width: 400){
              #mybtn{
                background-color: #212121;
              }
            }
            </style>
</head>
<% if(currentUser) {%>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand" href="#">
            <img src="/static/styles/Reveal/img/logo.png" width="105" height="30" class="d-inline-block align-top" alt="">
          </a>
  <button class="navbar-toggler" type="button" id="mybtn" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" id="homeId" href="/app/page2">Home</a>
      </li>

      <!-- For SHift-->
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shift
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-dark" id="list-item" href="/app/shift2">Create Shift</a>
              <div class="dropdown-divider"></div>
              <% if(currentUser.type=='admin') {%>
              <a class="dropdown-item" id="list-item" href="/app/shift3">View Shift</a>
              <div class="dropdown-divider"></div>
              <% } %>
              <a class="dropdown-item" id="list-item" href="/app/ishift">End Shift</a>
              <% if(currentUser.type=='admin') {%>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="list-item" href="/app/report">Report</a>
              <% } %>
            </div>
          </li>

          <!-- Ends Here-->

          <!-- <% if(currentUser.type=='admin') {%>
        <li class="nav-item">
          <a class="nav-link" id="financeId" href="/app/ifinance">Finance
          </a>
        </li>
        <% } %> -->

            <li class="nav-item">
                    <a class="nav-link" id="homeId" href="/app/icredit">Credit</a>
                </li>

              
              <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Product
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if(currentUser.type=='admin') {%>
                      <a class="dropdown-item" id="list-item" href="/app/iproduct">Add Product</a>
                      <div class="dropdown-divider"></div>
                      <% }%>
                      <a class="dropdown-item" id="list-item" href="/app/iproduct">View Product</a>
                    </div>
                  </li>

                  <li class="nav-item">
                        <a class="nav-link" id="financeId" href="/app/fuelReceipt">Fuel Received
                        </a>
                      </li>

                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Employee
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% if(currentUser.type=='admin') {%>
                              <a class="dropdown-item" id="list-item" href="/app/iemployee">Add Employee</a>
                              <div class="dropdown-divider"></div>
                              <% } %>
                              <a class="dropdown-item" id="list-item" href="/app/iemployee">View Employee</a>
                            </div>
                          </li>


                      <li class="nav-item dropdown" >
                            <a class="nav-link dropdown-toggle" href="#" id="moreId" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <font class="primary-text-color">More</font>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="moreList" >
                              <a class="dropdown-item" id="list-item" href="/app/ischedule">Schedule</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" id="list-item" href="/app/itank">Tank</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" id="list-item" href="/app/inozzle">Nozzle</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" id="list-item" href="/app/icollectionmode">Collection Mode</a>
                                <a class="dropdown-item" id="list-item" href="/app/ibank">Bank Accounts</a>
                                <div class="dropdown-divider"></div>

                            </div>
                          </li>

    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <font class="primary-text-color"><%= 'Hi, '+currentUser.fname %></font>
                  </a>
            <!-- <button id="dropbtn" class="btn btn-outline-success my-2 my-sm-0">Dropdown</button> -->
            <div class="dropdown-content"  aria-labelledby="navbarDropdown">
                <center>
              <% if( currentUser.pic.indexOf('upload')!=-1 ) { %>
                
              <img src="<%= '/static/uploads/'+currentUser.pic %>" width="120" height="120" id="img" class="d-inline-block align-top" alt="Profile pic">
              <% } else { %>
                <img src="<%= '/static/styles/avatar.png' %>" width="120" height="120" id="img" class="d-inline-block align-top" alt="Profile pic">
             
                <% } %>
                </center>
              <a class="dropdown-item" href="/app/changepassword">Change Password</a>
              <a class="dropdown-item" href="/app/logout">Logout</a>
            </div>
        </li> 

  </div>

</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='/static/scripts/lib/jquery-3.3.1.js'></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

</body>
<% } else { %>

  <body>
      <div id='container'>
        <div id="www">404</div>
       
        <svg id='svgBack' xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300">
         <g class='Capsule CG'>
            <ellipse fill="#222" cx="147.806" cy="107.935" rx="6.944" ry="46.726"/>
        <path fill="#00A072" d="M224.964 61.184h-77.16c4.434 6.882 5.518 22.14 5.518 39.87v13.738c0 17.73-1.085 32.987-5.517 39.87h77.16c25.812 0 46.738-20.927 46.738-46.74 0-25.813-20.925-46.738-46.74-46.738z"/>
        </g>
        </svg>
        
        
      <svg id='mySVG' xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 300 300">
      
        <g class='Capsule CG'>
        <ellipse fill="none" cx="147.806" cy="107.935" rx="6.944" ry="46.726"/>
        <path fill="#303f9f" d="M224.964 61.184h-77.16c4.434 6.882 5.518 22.14 5.518 39.87v13.738c0 17.73-1.085 32.987-5.517 39.87h77.16c25.812 0 46.738-20.927 46.738-46.74 0-25.813-20.925-46.738-46.74-46.738z"/>
        <path opacity=".3" fill="#F1F2F2" d="M227.272 154.603c22.127-1.08 40.925-18.23 43.98-40.242-8.65 9.954-21.245 11.063-33.442 11.063-12.537 0-83.952-.717-84.875 0-.697 9.54.198 20.968-5.13 29.24 25.742-.002 53.758 1.19 79.467-.06.258-.013-.764.037 0 0z"/>
        <path opacity=".7" fill="#FFF" d="M222.35 66.955h-70.817c.717 1.97.89 4.195 1.468 6.64h74.644c10.58 0 20.386 3.295 28.466 8.902-8.492-9.568-20.472-15.542-33.76-15.542z"/>
          <text x="183" y="110" font-size="16px"  font-family="Oswald,sans-serif" opacity='0.9' fill='#fff'>Found</text>
        </g>
            <g class='Capsule CW'>
            <path fill="#D1D3D4" d="M27.36 107.922c0 25.813 20.927 46.74 46.74 46.74h75.706c4.433-6.883 7.517-22.14 7.517-39.87v-13.74c0-17.73-3.085-32.986-7.517-39.868H74.1c-25.814 0-46.74 20.925-46.74 46.738z"/>
            <path opacity=".3" fill="#F1F2F2" d="M53.925 125.422c-10.014 0-19.788-2.82-26.113-11.062 2.93 14.647 10.574 27.31 23.896 34.595 9.728 5.322 19.933 5.706 30.696 5.706h66.646c5.683 0 7.607-25.44 7.884-29.238H53.924z"/>
            <path opacity=".7" fill="#FFF" d="M152.532 66.955h-75.82c-13.287 0-25.266 5.974-33.757 15.542 8.08-5.607 17.886-8.902 28.466-8.902h83.06c-.578-2.445-1.23-4.67-1.948-6.64z"/>
            <text x="66" y="110" font-size="16px" font-family="Oswald,sans-serif" opacity='0.6'>Not</text>
        </g>
      </svg>
      
      </div>
      
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
      <script type="text/javascript">
      /* a Pen by Diaco m.lotfollahi  : https://diacodesign.com */
      
      var S = document.getElementById('mySVG') ;
      var  container = document.getElementById('container') ;
      
      for (i=0; i<80; i++){ 
        var I=i&1 , C = I?'#fff':'#303f9f';
        var Div=document.createElement('div');
        TweenLite.set(Div,{attr:{class:'dot'},x:I?90:210,y:130,scale:R(0.1,1),opacity:R(0.5,1),backgroundColor:C});
        container.insertBefore(Div,S);
      };
      
      var Dots = container.querySelectorAll(".dot");
      function particles(){
        for (i=0; i<Dots.length; i++){var I=i&1 , Div=Dots[i]; anim(Div,I);};
      }
      
      function anim(E,X){
        TweenMax.to(E,R(2,4),{y:R(250,350),x:X?R(100,200):R(100,200),scale:0.5,opacity:0,ease:Linear.easeNone,repeat:-1,delay:R(0,4)});
        TweenMax.to(E,2,{xPercent:X?400:-400,repeat:-1,yoyo:true,ease:Sine.easeInOut,delay:R(1,5)});
      };
      
      var tl = new TimelineMax()
        .staggerTo(['.CW','.CG'],1,{cycle:{rotation:[45,-45],x:[-20,15],y:[-5,10]},transformOrigin:'center',ease:Back.easeOut},0,1.5)
        .addCallback(particles,'-=0.5')
        .to('.Capsule',1,{y:'+=15',repeat:-1,yoyo:true,ease:Sine.easeInOut})
      
      function R(min,max){return min+(Math.random()*(max-min))};
      
      /* a Pen by Diaco m.lotfollahi  : https://diacodesign.com */
      </script>
      <style>
      body{background-color:#444; overflow:hidden;}
      </style>
      </body>
  <% } %>
</html>