<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        
                <style>
                    form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel] ,select{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 0px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.formbutton{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: 50%;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
#addtank{
    display:none;
}
/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
.filterlabel{
    font-weight: bold;
    font-style: oblique;
    color: #f44336;
}
option{
    color: red;
    font-weight:400;
    font-size: 15px;

}
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
} 
h1{
    text-align: center;
    color: red;
}
h2{
    text-align: center;
    color: red;
}
label{
    color: darkgreen;
    font-weight: bold;
    font-style: italic;
}
                body {
                    font-family: "Lato", sans-serif;
                    transition: background-color .5s;
                }
                
                .sidenav {
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: #111;
                    overflow-x: hidden;
                    transition: 0.5s;
                    padding-top: 60px;
                }
                
                .sidenav a {
                    padding: 8px 8px 8px 32px;
                    text-decoration: none;
                    font-size: 25px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                }
                
                .sidenav a:hover {
                    color: #f1f1f1;
                }
                
                .sidenav .closebtn {
                    position: absolute;
                    top: 0;
                    right: 25px;
                    font-size: 36px;
                    margin-left: 50px;
                }
                
                #main {
                    transition: margin-left .5s;
                    padding: 16px;
                }
                
                @media screen and (max-height: 450px) {
                  .sidenav {padding-top: 15px;}
                  .sidenav a {font-size: 18px;}
                }
                #main {
                  overflow: auto;
                  background-color: #333;
                }
                
                #main a {
                  float: left;
                  color: #f2f2f2;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
                  font-size: 17px;
                }
                
                #main a:hover {
                  background-color: #ddd;
                  color: black;
                }
                
                #main a.active {
                  background-color: #4CAF50;
                  color: white;
                }
                .dropbtn {
                    background-color: #333;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    width: 295px;
                    height: 84px;
                }
                
                .dropdown {
                    position: relative;
                    display: inline-block;
                    float: right;
                }
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    width: 300px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }
                
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                
                .dropdown-content a:hover {background-color: #ddd;}
                
                .dropdown:hover .dropdown-content {display: block;}
                
                .dropdown:hover .dropbtn {background-color: #333;}
                </style>
                
                </head>
                        <% if(currentUser) { %>
                            <nav class="navbar navbar-default">
                            <div class="container-fluid">
                            <div class="navbar-header">
                            <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <a href="/app/ishift">Shift</a>
                                    <a href="/app/report">Report</a>
                                    <a href="/app/ifinance">Finance</a>
                                    <a href="/app/icredit">Credit</a>
                                    <a href="/app/fuelReceipt">Fuel Receipt</a>
                                    <a href="/app/ibank">Bank Accounts</a>
                                    
                                    
                            </div>
                            </div>
                            </div>
                            
                            <div id="main" style="display: inline-block;width: 75%;">
                                    <a href="#open>"<button style="cursor:pointer" onclick="openNav()">&#9776; open</button></a>
                                    <a  href="/app/idash">Home</a>
                                    <a  href="/app/iemployee">Employee</a>
                                    <a href="/app/ischedule">Schedule</a>
                                    <a href="/app/itank">Tank</a>
                                    <a href="/app/iproduct">Product</a>
                                    <a href="/app/inozzle">Nozzle</a>
                                    <a href="/app/icollectionmode">Collection Modes</a>
                                    

                                    
                                    
                            </div>
                            <span class="dropdown">
                                    <button class="dropbtn"><%= 'Hi, '+currentUser[0].FNAME+'   ' %>&or;</button>
                                    <span class="dropdown-content">
                                    <a href="#">
                                        <img src="<%= '/static/uploads/'+currentUser[0].PIC %>" alt="No Photo" width="250" height="250">
                                    </a>
                                      <a href="/app/logout">Logout</a>
                                    </span>
                            </span>
                            
                            <script>
                            function openNav() {
                                document.getElementById("main").style.width='55%';
                                document.getElementById("mySidenav").style.width = "250px";
                                document.getElementById("main").style.marginLeft = "250px";
                                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
                            }
                            
                            function closeNav() {
                                
                                document.getElementById("mySidenav").style.width = "0";
                                document.getElementById("main").style.marginLeft= "0";
                                document.body.style.backgroundColor = "white";
                                document.getElementById("main").style.width='75%';
                            }
                            </script>
                            
                                <% } else { %>
                                    <h2>Login First</h2>
                                    <% } %>
                                </div>
                            </nav>