<!DOCtype html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
 

    
   <% include nikhilheader.html %>
   
   <title>Dashboard</title>

    

</head>
<style>
table#alter tr:nth-child(odd)
{
	background-color: lightgrey;
}
table#alter tr:nth-child(even)
{
	background-color: white;
}
table#alter th
{
	color:white;
	background-color:black;
}
.card-text
{
color:white;
text-align: right;
font-size:18px;
}
.value
{
  color:white;
  text-align: right;
  font-size:30px;
}
.container
{
  max-width: 97%;
}
#bg-color
{
  background-color:#303f9f;
}
#fa
{
  font-size:25px;
}

</style>

<% if(currentUser){ %>
<body>
 

  
<div class="main">
  
  <div class="container">
  <br>
  <table>

	<h2><i class="fas fa-map-marker-alt">&nbsp;<%= petrolpump.name %></i></h2><hr>
<tr>	<td><h1>DashBoard</h1></td>
</tr>
</table>
<div class="card-deck">
  <div class="card" id="bg-color">
    <div class="card-body text-center">
      <p class="card-text"><b><th>Total Bank Sale</th></b></p>
      <tr>
                <td>
                <p class="value"> <i class="fas fa-rupee-sign" id="fa"></i>&nbsp;<%= bankResult.total %></p>
                </td>
            </tr>
    </div>
  </div>
  <div class="card" id="bg-color">
    <div class="card-body text-center">
      <p class="card-text"><b><th>Total Fleet Sale</th></b></p>
      <tr>
                <tr>
                    <td>
            <p class="value"><i class="fas fa-rupee-sign" id="fa"></i>&nbsp; <%= fleetResult.total %></p>
                    </td>
                </tr>
    </div>
  </div>
  <div class="card" id="bg-color">
    <div class="card-body text-center">
      <p class="card-text"><b><th>No. of Nozzles</th></b></p>
      <tr>
                <td>
                   <p class="value"> <%= nozzleCountResult.c %></p>
                </td>
            </tr>
    </div>
  </div>
  <div class="card" id="bg-color">
    <div class="card-body text-center">
      <p class="card-text"><b><th>No. of Tanks</th></b></p>
      <tr>
                <td>
                   <p class="value"> <%= tankCountResult.c %></p>
                </td>
            </tr>
    </div>
  </div> 
</div>


<br>




<div class="row">
  <div class="col-sm-6">
     <br>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Total Product Sale
          
        </button>
        <span class="signbtn1 btn btn-link collapsed"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="float:right;"><i  class="sign1 fas fa-angle-down"></i></span>

      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover" id="alter">
    <thead>
      <tr>
        <th>Product</th>
        <th>Sale</th>
        </tr>
    </thead>
    <tbody>
      <% for(i in saleResult) {%>
            <tr>
                <td><%= saleResult[i].type %></td>
                <td><%= saleResult[i].sale %></td>
            </tr>
        <% } %>
    </tbody>
  </table>
      </div>
    </div>
  </div> 
  </div>
  <div class="col-sm-6">
    <br>
  <div class="card">

    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
       <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Current Quantity Left
        </button>
        <span class="signbtn2 btn btn-link collapsed"   data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="float:right;"><i  class="sign2 fas fa-angle-down"></i></span>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover" id="alter">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity Left</th>
      </tr>
    </thead>
    <tbody>
      <% for(i in quantityResult) {%>
                <tr>
                    <td><%= quantityResult[i].type %></td>
                    <td><%= quantityResult[i].qty %></td>
                </tr>
            <% } %>
    </tbody>
  </table>
      </div>
    </div>
  </div>
  </div>

  <div class="col-sm-6">
  	<br>
  	
  	<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Shift Details
        </button>
        <span class="signbtn3 btn btn-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="float:right;"><i   class="sign3 fas fa-angle-down"></i></span>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <table class="table table-hover" id="alter">
    <thead>
      <tr>
        <th>Shift StartTime</th>
        <th>Shift EndTime</th>
        <th>Supervisor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if(shiftDetails.length!=0) { %>
                    <td><%= shiftDetails[0].start_time.toString().substring(10,24) %></td>
                    <td><%= shiftDetails[0].end_time.toString().substring(10,24) %></td>
                    <td><%= shiftDetails[0].fname %></td>
        <% } %>
                    
       </tr>
    </tbody>
  </table>
      </div>
    </div>
  </div>
</div>
 <div class="col-sm-6">
 	<br>
 	
<div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Nozzle Details
        </button>
        <span class="signbtn4 btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="float:right;"><i   class="sign4 fas fa-angle-down"></i></span>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
          <table class="table table-hover" id="alter">
              <thead>
                <tr>
                  <th>Nozzle Number</th>
                  <th>Opening Reading</th>
                </tr>
              </thead>
              <tbody>
                <% for(i in openReading){ %>
                <tr>
                              <td><%= (parseInt(i)+1) %></td>
                              <td><%= openReading[0].dor %></td>
                              
                              
                 </tr>
                 <% } %>
              </tbody>
            </table>
      </div>
    </div>
  </div>


 </div>


  </div>










  


  



</div>
</div>

    
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    $(document).ready(function(){
      $('.signbtn1').click(function(evt){
        $('.sign1').toggleClass('fa-angle-up');
      });
      $('.signbtn2').click(function(evt){
        $('.sign2').toggleClass('fa-angle-up');
      });
      $('.signbtn3').click(function(evt){
        $('.sign3').toggleClass('fa-angle-up');
      });
      $('.signbtn4').click(function(evt){
        $('.sign4').toggleClass('fa-angle-up');
      });
    });
    </script>
  </body>
<% } %>
</html>
