<!DOCtype html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include myheader.html %>

</head>
<% if(currentUser && currentUser.type=='admin') {%>
<body class="header-fixed header-fixed-space">
    <% if(msg){ %>
    <h1 align="center" style="color: red;" ><%= msg %></h1>
    <% } else {%>
    <div class="container">
    
        <h2 class="display-5 text-dark" align="center">Shift Details</h2>
        <table  align="center"  class="table table-hover text-center">
                <caption>Shift Details</caption>
            <thead class="dark-primary-color text-light">
            <th>Shift type</th>
            <th><%= shiftDetailsResult.shift_type %></th>
            <th>date</th>
            <th><%= shiftDetailsResult.date.toString().substring(0,24) %></th>
            <th>supervisor</th>
            <th><%= shiftDetailsResult.supervisor %></th>
        </thead>
        </table>
    
    <br>
    
        <h2 class="display-5 text-dark" align="center">Electronic Totalizer</h2>
        <table  align="center"  class="table  table-hover text-center">
                <caption >Electronic Totalizer</caption>
                <thead class="dark-primary-color text-light">
            <th>nozzle</th>
            <th>product</th>
            <th>Assigned To</th>
            <th>Digital opening Reading</th>
            <th>Digital CLosing Reading</th>
            <th>Pump Test</th>
            <th>sale</th>
        </thead>
            <% for(i in elecTotalizerResult) { %>
                <tr>
                    <td><%= elecTotalizerResult[i].nozzle %></td>
                    <td><%= elecTotalizerResult[i].product %></td>
                    <td><%= elecTotalizerResult[i].assignted_to %></td>
                    <td><%= elecTotalizerResult[i].dor %></td>
                    <td><%= elecTotalizerResult[i].dcr %></td>
                    <td><%= elecTotalizerResult[i].pump_test %></td>
                    <td><%= elecTotalizerResult[i].sale %></td>
                    
                </tr>
            <% } %>
            <% for (i in elecTotalizerResult1) { %>
                <tr>
                <td colspan="4">TOTAL&nbsp;<%= elecTotalizerResult1[i].product %></td>
                <td><%= elecTotalizerResult1[i].disp %></td>
                <td><%= elecTotalizerResult1[i].pumptest %></td>
                <td><%= elecTotalizerResult1[i].sale %></td>
            </tr>
            <% } %>
        </table>
    
    <br>
    
        <h2 class="display-5 text-dark" align="center">Manual Totalizer</h2>
        <table  align="center"  class="table  table-hover text-center">
                <caption>Manual Totalizer</caption>
                <thead class="dark-primary-color text-light">
            <th>nozzle</th>
            <th>product</th>
            <th>Assigned To</th>
            <th>Analog opening Reading</th>
            <th>Analog CLosing Reading</th>
            <th>Pump Test</th>
            <th>sale</th>
        </thead>
            <% for(i in manTotalizerResult) { %>
                <tr>
                    <td><%= manTotalizerResult[i].nozzle %></td>
                    <td><%= manTotalizerResult[i].product %></td>
                    <td><%= manTotalizerResult[i].assignted_to %></td>
                    <td><%= manTotalizerResult[i].aor %></td>
                    <td><%= manTotalizerResult[i].acr %></td>
                    <td><%= manTotalizerResult[i].pump_test %></td>
                    <td><%= manTotalizerResult[i].sale %></td>
                    
                </tr>
            <% } %>
            <% for (i in manTotalizerResult1) { %>
                <tr>
                <td colspan="4">TOTAL&nbsp;<%= manTotalizerResult1[i].product %></td>
                <td><%= manTotalizerResult1[i].disp %></td>
                <td><%= manTotalizerResult1[i].pumptest %></td>
                <td><%= manTotalizerResult1[i].sale %></td>
            </tr>
            <% } %>
        </table>
    

    
        <h2 class="display-5 text-dark" align="center">difference Between Electronic and Manual sale</h2>
        <table  align="center"  class="table  table-hover text-center">
                <caption>difference Between Electronic and Manual sale</caption>
                <thead class="dark-primary-color text-light">
            <th>product</th>
            <th>Pump Test</th>
            <th>difference</th>
        </thead>
            <% for(i in emdiffResult) {%>
                <tr>
                    <td><%= emdiffResult[i].product %></td>
                    <td><%= emdiffResult[i].pumptest %></td>
                    <td><%= Math.abs(emdiffResult[i].difference) %></td>
                </tr>
            <% } %>
        </table>
    

    
        <H2 class="display-5 text-dark" align="center">Tank Data</H2>
        <table  align="center"  class="table  table-hover text-center" >
                <caption>Tank Data</caption>
                <thead class="dark-primary-color text-light">
            <th>Tank Name</th>
            <th>opening Dip</th>
            <th>opening Volume</th>
            <th>Closing Dip</th>
            <th>Closing Volume</th>
            <th>FUEL RECEIVED</th>
            <th>Sold Out</th>
        </thead>
            <% for (var i=0 ; i<tankheightResult2.length ; ++i ) { %>
                <tr>
                <td><%= tankheightResult1[i].type %></td>
                <td><%= tankheightResult1[i].open_reading %></td>
                <td><%= tankheightResult1[i].open %></td>
                <td><%= tankheightResult2[i].close_reading %></td>
                <td><%= tankheightResult2[i].close %></td>
                <td><%= tankheightResult1[i].fuel_received %></td>
                <td><%= tankheightResult1[i].open-tankheightResult2[i].close+tankheightResult1[i].fuel_received %></td>
                </tr>
            <% } %>
        </table>
    

    
        <h2 class="display-5 text-dark" align="center">difference Between TANK sale and METERED sale </h2>
        <table  align="center"  class="table  table-hover text-center">
                <caption>difference Between TANK sale and METERED sale </caption>
                <thead class="dark-primary-color text-light">
            <th>Tank Name</th>
            <th>Qty by Totalizer</th>
            <th>Qty by Tank</th>
            <th>Loss(-)/Gain(+)</th>
            <th>Amount</th>
        </thead>
            <% for (var i=0;i<elecTotalizerResult1.length;i+=1) { %>
                <tr>
                <td><%= elecTotalizerResult1[i].product %></td>
                <td><%= elecTotalizerResult1[i].sale %></td>
                <td><%= tankheightResult1[i].open-tankheightResult2[i].close+tankheightResult1[i].fuel_received %></td>
                <td><%= elecTotalizerResult1[i].sale-(tankheightResult1[i].open-tankheightResult2[i].close+tankheightResult1[i].fuel_received) %></td>
                <td><%= (elecTotalizerResult1[i].sale-(tankheightResult1[i].open-tankheightResult2[i].close))*tankheightResult2[i].price %></td>
            </tr>
            <% } %>
        </table>
    

    
        <h2 class="display-5 text-dark" align="center">sale mode Wise</h2>
        <table  align="center"  class="table  table-hover text-center">
                <caption>sale mode Wise</caption>
                <thead class="dark-primary-color text-light">
            <th>DSM</th>
            <th>mode Of Payment</th>
            <th>Amount</th>
        </thead>
            <% for(i in salemodewise) { %>
                <tr>
                    <td><%= salemodewise[i].fname %></td>
                    <td><%= salemodewise[i].mode %></td>
                    <td><%= salemodewise[i].sale %></td>
                </tr>
            <% } %>
        </table>
    

    
        <h2 class="display-5 text-dark" align="center">Report</h2>
        <table  align="center"  class="table  table-hover text-center">
                <caption>Report</caption>
                <thead class="dark-primary-color text-light">
            <th>DSM</th>
            <th>estimated Collection</th>
            <th>actual Collection</th>
            <th>Shortage</th>
        </thead>
            <% for(i in res1) { %>
                <tr>
                    <td><%= res1[i].fname %></td>
                    <td><%= res1[i].est+nonfuelsale[i].amt %></td>
                    <% if(res2.length>0) { %>
                        <td><%= res2[i].act %></td>
                        <% } else { %>
                            <td><%= 0 %></td>
                        <% } %>
                    
                    <% if(res2.length>0) { %>
                    <td><%= res1[i].est+nonfuelsale[i].amt-res2[i].act %></td>
                    <% } else { %>
                        <td><%= res1[i].est %></td>
                    <% } %>
                </tr>
            <% } %>

        </table>
    
        </div>
    <% } %>
</body>
<% } %>
</html>
