<!doctype html>
<html lang="en">
  <head>
        <% include myheader.html %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
#shft
{
    color: black; 
    font-size: 20px;
}
</style>

  </head>
<% if(currentUser){ %>

  <body class="text-center">


        <div class="container">
            <% if(availableShiftResult.length!=0){ %>
            <br>
                <h2 class="display-4 text-dark">Create Shift</h2>
                <br>
                <form method="POST" action="/app/ishift">
                        <div class="form-group">
                          <label for="exampleFormControlInput1" id="shft">Shift type</label>
                          <select name="stype" class="form-control" id="exampleFormControlSelect1" align="center" >
                                <% for(i in availableShiftResult) { %>
                                    <option value="<%= availableShiftResult[i].id %>"><%= availableShiftResult[i].shift_type+'-'+(availableShiftResult[i].starttime).toString().substring(0,24) %></option>
                                  <% } %>
                              </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1" id="shft">Select supervisor</label>
                          <select  name="supervisor" class="form-control" id="exampleFormControlSelect1">
                                <% for(i in availableSupervisorResult){ %>
                                    <% if((availableSupervisorResult[i].type).toString()=='supervisor') { %> 
                                       <option value="<%= availableSupervisorResult[i].id %>"><%= availableSupervisorResult[i].fname+' '+availableSupervisorResult[i].lname %></option>
                                      <% } %> 
                                     <% } %>
                          </select>
                        </div>
                        <div class="my-3 p-3 mx-auto">
                                <!-- <h2 class="display-5" style="color: white;" >Quantity left</h2> -->
                                <table class="table table-hover">
                                        <thead class="dark-primary-color text-light">
                                    <tr>
                                        
                                        <th class="col-md-2">Nozzle No.</th>
                                        <th class="col-md-2">DSM</th>
                                        <th  class="col-md-2">Analog Op. Reading</th>
                                        <th class="col-md-2">Digital Op. Reading</th>
                                    </tr>
                                </thead>
                                    <% for(i in availableNozzleResult) { %>
                                        <tr>
                                        <td><input type="text" name="" value="<%= availableNozzleResult[i].nozzle_number %>" class="form-control" disabled></td>
                                        <td><select name="<%= 'user'+i %>" class="form-control" >
                                          <% for(j in availableSupervisorResult) { %>
                                            <% if((availableSupervisorResult[j].type).toString()=='dsm') { %>
                                              <option value="<%= availableSupervisorResult[j].id %>"><%= availableSupervisorResult[j].fname+' '+availableSupervisorResult[j].lname %></option>
                                              <% } %>
                                          <%  } %>
                                        </select></td>
                                        <td><input type="text" name="<%= 'aor'+i %>" value="<%= availableNozzleResult[i].aor %>"  class="inpf form-control" disabled></td>
                                        <td><input type="text" name="<%= 'dor'+i %>" value="<%= availableNozzleResult[i].dor %>"  class="inpf form-control" disabled></td>
                                        
                                        
                                      </tr>
                                      <% } %>
                                    </table>
                              </div>


                              <div class="my-3 p-3 mx-auto">
                                    <table class="table table-hover">
                                        <tr>
                                                <thead class="dark-primary-color text-light">
                                            <th>Tank</th>
                                            <th>Opening Height</th>
                                            </thead>
                                        </tr>
                                        <% for(i in tanksResult){ %>
                                            <tr>
                                              <td>
                                                <input type="text"  name="<%= 'ty'+i %>" value="<%= tanksResult[i].type %>" class="inpf form-control" disabled>
                                              </td>
                                              <td>
                                                <input type="text"  name="<%= 'cr'+i %>" value="<%= tanksResult[i].qty %>" class="inpf form-control" disabled>
                                              </td>
                                            </tr>
                                          <% } %>
                                        </table>
                                        <button type="submit" id="createshiftbtn" class="btn btn-outline-danger float-center"   name="act" value="<%= '1 '+availableNozzleResult.length+' '+tanksResult.length %>">Add Shift</button>
                                  </div>
                      </form>

<% } else { %>
    <h1 align="center" style="color: red;" >No More Shifts To Create</h1>
<% } %>
              </div>
<script>
    $(document).ready(function(){
        $('#createshiftbtn').click(function(){
            $('.inpf').prop('disabled',false);
        });
    });
</script>
  </body>
  <% } %>
</html>
