<!doctype html>
<html lang="en">
  <head>
        <% include myheader.html %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
  .shift{
    cursor: pointer;
  }
</style>

  </head>

  <% if(currentUser && currentUser.type=='admin') {%>
  <body class="text-center">


        <div class="container">
            <br>
                <h2 class="display-5 text-dark"  >View Shift</h2>
                <br>
                <form method="get" action="/app/shift3">
                        <% if(from){ %>
                            <div class="form-group display-4  text-dark" > 
                                    <label  class="d-inline-block col-md-1 text-dark" for="exampleFormControlInput1" >From</label>
                                    <input  type="date" name="from" value="<%= from %>" class="d-inline-block form-control col-md-2">
                                  <label class="d-inline-block col-md-1" for="exampleFormControlInput1" >To</label>
                                  <input  type="date" name="to" value="<%= to %>" class="d-inline-block form-control col-md-2">
                                        </div>
                            <% } else { %>
                                <div class="form-group"  text-dark>
                                        <label  class="d-inline-block col-md-1" for="exampleFormControlInput1" >From</label>
                                        <input type="date" name="from" class="d-inline-block form-control col-md-2">
                                      <label class="d-inline-block col-md-1" for="exampleFormControlInput1" >To</label>
                                      <input type="date" name="to" class="d-inline-block form-control col-md-2">
                                            </div>
                            <% } %>
                              <button type="submit" class="btn btn-outline-danger float-center"  >Get Shift</button>
                                  
                              <div class="my-3 p-3 mx-auto">
                                    <table class="table table-light table-hover">
                                        <tr>
                                                <thead class="dark-primary-color text-light">
                                            <th>Date</th>
                                            <th>StartTime</th>
                                            <th>EndTime</th>
                                            <th>SuperVisor</th>
                                                </thead>
                                        </tr>
                                        <% for(var i=0;i<viewShiftResult.length;++i) { %>
                  
                                            <tr class="shift">
                                                
                                              <td><a href="<%= '/app/report?sid='+viewShiftResult[i].id %>"></a><%= (viewShiftResult[i].start_time).toString().substring(0,15) %></a></td>
                                              <td><%= (viewShiftResult[i].start_time).toString().substring(16,24) %></td>
                                              <td><%= (viewShiftResult[i].end_time).toString().substring(16,24) %></td>
                                              <td><%= viewShiftResult[i].fname+' '+viewShiftResult[i].lname %></td>
                                            </tr>
                                          
                                          <% } %>
                                        </table>
                                        </div>
                                </form>

              </div>
<script>
    $(document).ready(function(){
              $('.shift').click(function(){
            window.location=$(this).find('a').attr('href');
          }).hover(function(){
            $(this).toggleClass('hover');
          });
        });

</script>
  </body>
  <% } %>
</html>
