<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <% include myheader.html %>
</head>

<body class="header-fixed header-fixed-space">
  
        <br>
<div class="container col-md-8">
      <h2 class="display-4 text-center text-dark" >Transport Details</h2>
      <br>
        <table  align="center" class="table table-hover text-center">
        <thead class="dark-primary-color text-light">
        <tr>
            <th>Transport name</th>
            <th>Action</th>
            

        </tr>
    </thead>
        <% for(i in transportDetails) { %>
        <tr>
        <td><%= transportDetails[i].name %></td>
          <td><div class="btn-group btn-group-sm" role="group">
              <button type="button" data-target="#deletemodal" data-toggle="modal" data-cap="<%= transportDetails[i].ID %>" class="deletebtn btn btn-outline-dark"><i class="fas fa-trash-alt"></i></button>
            </div></td>
        
        
        <% } %>
    </tr>
      </table>
      <button type="button" class="btn btn-outline-danger mr-5" data-toggle="modal" data-target="#id1" style="float: right;">
            Add Transport
          </button>
       <!-- Modal -->
       <div class="modal fade" id="id1" tabindex="-1" role="dialog" aria-labelledby="id1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <form method="POST" action="/app/transport">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Transport</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                     
                        <input type="text" class="form-control" id="edittno" name="name" placeholder="Transport name" aria-label="Transport name" aria-describedby="basic-addon1">
                                </div> 
                 
                    
                </div>
                 
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="editid" name="act" class="btn btn-outline-primary">Add</button>
                </div>
              </form>
              </div>
            </div>
          </div>




                              <!-- Modal delete confirm box-->
<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are You Sure ..?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="/app/transport" method="POST" id="deleteform">
          <button type="submit" name="act" id="deletebtn" class="btn primaryButton">Delete</button>
        </form>
        </div>
      </div>
    </div>
  </div>






            
        </div>
        <script>
        $(document).ready(function(){
          $('.deletebtn').click(function(e){
            $('#deletebtn').val(e.target.getAttribute('data-cap'));
          });
        });
        </script>
</body>
</html>
