.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
@media only screen and (max-width:400px){
.dropdown-content {
    display: none;
    left: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 5px;
    border-radius: 5%;
}
}
caption{
    display: none;
}
@media print{
    nav{
        display: none;
    }
    h2{
        font-size: inherit;
    }
    table{
        float: left;
        font-size: 11px;
        line-height: 1px;
    }

}


/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 5px;
    border-radius: 5%;
}

.dropdown-content a:hover {background-color:white;
color: tomato;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
    body{
        width: 100%;
        height: auto;
    }
    @media only screen and (min-width:400px){
        body{
            
        width: 100%;
        height: auto;
        }
        .dropdown-content {
    display: none;
    right: 0;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 5px;
    border-radius: 5%;
}
a{
    color: #757575;
}
a:hover{
    color: #000000;  
}
    }
    #homeId,#navbarDropdown,#financeId,#moreId{
        color: #757575;
    }
    #homeId,#navbarDropdown,#financeId,#moreId:hover{
        color: black;
    }



    

