/*************************************
	    	 Register 
**************************************/ 
.register-form .section-field { display: block; }
.register-form .field-widget { position: relative; }
.register-form .field-widget input { width: 100%; margin-bottom: 20px; }
.register-form .field-widget select { width: 100%; margin-bottom: 20px; padding-left: 15px; }
.register-form .field-widget  input.gui-input { padding-left: 140px;}
.register-form .field-widget .button { background: #666; height: 46px; left: 0; margin: 2px; position: absolute; text-align: center; top: 0; width: 115px; border:0; line-height: 26px; }
.register-form .nice-select { float: none; margin-bottom: 20px; background: #f6f7f8; border:0; } 
.remember-checkbox a {color: #303f9f; }
.remember-checkbox label { position: relative; padding-left: 30px; font-size: 14px;	cursor: pointer;}
.remember-checkbox label:before, label:after { font-family: FontAwesome; font-size: 17px; position: absolute; top: -3px; left: 0; padding-left: 2px; border-radius: 3px; }
.remember-checkbox label:before { border: 2px solid #303f9f; content: ""; height: 20px; margin-top: 3px; width: 20px; }
.remember-checkbox label:after { content: '\f00c'; max-width: 0; overflow: hidden; opacity: 0.5; transition: all 0.35s; -webkit-transition: all 0.35s; -ms-transition: all 0.35s; -ms-transition: all 0.35s; -o-transition: all 0.35s; }
.remember-checkbox input[type="checkbox"] { display: none; }
.remember-checkbox input[type="checkbox"]:checked + label:after { max-width: 25px; opacity: 1;  }
/*all id*/
#one+label:before, #one+label:after {color: #303f9f;}
#two+label:before, #two+label:after {color: #303f9f;}
#three+label:before, #three+label:after {color: hsl(120, 45%, 40%); }
#four+label:before, #four+label:after {color: hsl(180, 45%, 40%); }
#five+label:before, #five+label:after {color: hsl(240, 45%, 40%); }
#six+label:before, #six+label:after {color: hsl(300, 45%, 40%); }
  
/*************************************
	    	 Login 
**************************************/ 
.full-height-bg { height: 100vh; }
/*login-2-social*/
.login-social li { display: inline-block; margin: 2px 0px; }
.login-social li a { transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;}
.login-social li a.fb { display: block;  padding: 12px 20px; color: #fff; font-size: 14px; background: #4c70ad; border-radius:3px; }
.login-social li a.twitter { display: block;  padding: 12px 20px; color: #fff; font-size: 14px; background: #25b6e6; border-radius:3px; }
.login-social li a.pinterest { display: block;  padding: 12px 20px; color: #fff; font-size: 14px; background: #dd4b39; border-radius:3px; }
.login-social li i { border-right: 1px solid #fff; padding-right: 10px; margin-right: 10px;  }
.login-social li a.fb:hover, .login-social li a.twitter:hover, .login-social li a.pinterest:hover  { background: #303f9f; } 

/*login 02*/
.section-transparent { background: transparent; }
.login-bg  { background: #ffffff; }
.login-bg .login-title { background: #303f9f; padding: 30px; }
.login-bg .login-form { padding: 40px 30px; }
.login-bg .login-social { padding: 30px; background: #f6f7f8; }

/*login 02*/
.register-bg  { background: #ffffff; }
.register-bg .register-title { background: #303f9f; padding: 30px; }
.register-bg .register-form { padding: 30px; }


/*login-fancy*/
.login-fancy { padding: 30px; height: 100%; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06); }
.login-fancy-bg { position: relative;  z-index: 1; }
.login-fancy h2 { font-size: 70px; line-height: 70px; }
.login-gradient, .login-gradient-02, .login-gradient-03  { position: relative; }
.login-gradient:before { z-index: 0; opacity: .8; position: absolute; content: ""; height: 100%; width: 100%; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9af1e1), color-stop(100%, #4003f6)); background: -webkit-linear-gradient(-315deg, #9af1e1 0%, #4003f6 100%);  background: -webkit-linear-gradient(45deg, #9af1e1 0%, #4003f6 100%);  background: linear-gradient(45deg, #9af1e1 0%, #4003f6 100%); }
.login-gradient-02:before { z-index: 0; opacity: .8; position: absolute; content: ""; height: 100%; width: 100%; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee38a6), color-stop(100%, #ffc863)); background: -webkit-linear-gradient(-315deg, #ee38a6 0%, #ffc863 100%);  background: -webkit-linear-gradient(45deg, #ee38a6 0%, #ffc863 100%);  background: linear-gradient(45deg, #ee38a6 0%, #ffc863 100%); }
.login-gradient-03:before { z-index: 0; opacity: .8; position: absolute; content: ""; height: 100%; width: 100%; top: 0; bottom: 0; background: rgba(0, 0, 0, 0.6); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffcdd2), color-stop(100%, #470df5)); background: -webkit-linear-gradient(-315deg, #ffcdd2 0%, #470df5 100%);  background: -webkit-linear-gradient(45deg, #ffcdd2 0%, #470df5 100%);  background: linear-gradient(45deg, #ffcdd2 0%, #470df5 100%); }

/*login-box*/
.login-box { padding: 30px; height: 100%; box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06); border-radius: 0px 10px 10px 0px; }
.login-box-bg { position: relative;  z-index: 1; }
.login-box h2 { font-size: 40px; line-height: 40px; }
.login-box-main { display: table; width: 100%; }
.login-box-main-middle { display: table-cell; vertical-align: middle; }
.login-box-left  { box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06); height: 100%; border-radius: 10px 0 0px 10px; }
.login-box-left .logo-small { margin-left: 30px; } 
.login-box-main .theme-bg { box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.2); position: relative;  z-index: 1;  }
.login-box-theme { position: relative; }
.login-box-theme:before { position: absolute; content: ""; height: 30px; top: -29px; width: 100%; background: #303f9f; left: 0; }
.login-box-theme:after { position: absolute; content: ""; height: 30px; bottom: -29px; width: 100%; background: #303f9f; left: 0; }
.login-box-main .nav li { margin-bottom: 5px; }
.login-box-main .nav li a { padding-left: 30px; font-size: 16px; }
.login-box-main .nav li a { display: block; text-align: left; color: #323232; border-left: 5px solid transparent; background: transparent; }
.login-box-left li.active a, .login-box-left li a:hover { border-left: 5px solid #303f9f; color: #303f9f; }
.login-box-main .nav li a i { display: inline-block; padding-right: 6px; text-align: left; margin-bottom: 10px; }
.login-box .list-unstyled.list-inline-item a:hover { color: #323232; }
/*login-box-02*/
.login-box-02 { padding: 40px; border:1px solid rgba(0, 0, 0, 0.1); height: 100%; }
.login-box-02.white-overlay { background: rgba(255, 255, 255, 0.5); }
.login-signup a.text-black:hover { color: #ffffff; }

/*login-14*/
.login-14 { padding: 0 100px; }

/*login-15*/
.login-15 { padding: 0 60px; }

/*login-signup*/
.login-signup .tab-border .tab-content { padding: 0; }
.login-signup .login-box-02  { border:0; }